<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarteapp2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.hardware.sensor.gyroscope"/>
    <uses-permission android:name="android.hardware.sensor.accelerometer"/>
    <uses-permission android:name="android.hardware.sensor.proximity"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="sMArTE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Estadisticas"></activity>
        <activity android:name=".pickersActivity" />
        <activity android:name=".CustomListAdaptar" />
        <activity android:name=".CustomListView" />
        <activity android:name=".IniciarPerfiles" />
        <activity android:name=".ProgramarHorarios" />
        <activity
            android:name=".ConfigurarPerfiles"
            android:label=""
            android:theme="@style/AppThemeSmarte" />
        <activity android:name=".MateAlGustoActivity" />
        <activity android:name=".IniciarCebador" />
        <activity android:name=".PanelDeControl" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
